*{
    padding:0;
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    width:100vw;
    height:100vh;
    background: rgb(3,3,27);
    display: grid;
    place-items: center;
    overflow: hidden;
}
.card{
    width:350px;
    height:500px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: grid;
    place-items:end;
    user-select: none;
}
.img{
   width:350px;
   height: 500px;
   object-fit: cover;
   position: relative;
}
.info{
    width:350px;
    height:0px;
    background:rgba(0, 0, 0, 0.116);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    transition: 1s;
    position: absolute;
    display: grid;
    place-items: center;
    font-weight:bold;
    font-size:2em;
    color:#fff;
    overflow: hidden;
    letter-spacing: 2px;
}
.card:hover > .info{
    height: 500px;
}